@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-weight: 600 !important;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-button{
    display: inline-block;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 6px 45px;
    border-radius: 20px;
}

.go-back{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 15px;
    left: 10px;
}

.go-back svg{
    margin-right: -8px;
}